parameters:
    level: 6
    paths:
        - .

    excludePaths:
        - vendor
        - node_modules

    ignoreErrors:
        - '#Constant (APP_ROOT|BASE_URL) not found.#'
        - '#Method .+ has parameter .+ with no value type specified in iterable type array.#'
        - '#Method .+ return type has no value type specified in iterable type array.#'
        - '#^Cannot call method forget\(\) on Leantime\\Core\\Support\\Mix\|string\.$#'

# Local Variables:
# mode: yaml
# End:
