.estimateimport-content * {
  user-select: none;
}
.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #929292;
  height: 4rem;
  margin-top: 4rem;
}
.steps > .step {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.875rem;
  color: #6d6875;
}
.steps > .step:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #e6e6e6;
  color: #e6e6e6;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-bottom: -4.2rem;
  line-height: 1.9rem;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 1rem;
}
.steps > .step:after {
  content: "";
  position: absolute;
  display: block;
  background: #e6e6e6;
  width: 100%;
  height: 0.125rem;
  top: 1rem;
  left: 50%;
}
.steps > .step:last-child:after {
  display: none;
}
.steps > .step.is-complete {
  color: #6d6875;
}
.steps > .step.is-complete:before {
  content: "\2713";
  color: #fff;
  background: var(--accent1);
  border: 2px solid var(--accent1);
}
.steps > .step.is-complete:after {
  background: var(--accent1);
}
.steps > .step.is-active {
  font-size: 1.1rem;
}
.steps > .step.is-active:before {
  color: #fff;
  border: 2px solid var(--accent1);
  background: var(--accent1);
}
/** * Some Generic Styling */
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 1.5em;
}
.steps {
  margin-bottom: 3em;
}

.mapper-container {
  width: 720px;
}
.mapper-container > .mapper-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
}
.mapper-container > .mapper-div > .mapper-header {
  display: flex;
  width: 200px;
}
.mapper-container > .mapper-div > .mapper-header > span {
  margin: auto auto auto 0;
  font-weight: bold;
}
.mapper-container > .mapper-div > .mapper-pointer {
  display: flex;
}
.mapper-container > .mapper-div > .mapper-pointer > span {
  margin: auto;
}
.mapper-container > .mapper-div > .mapper-value {
  display: flex;
}
.mapper-container > .mapper-div > .mapper-value > select {
  margin: auto;
}
.mapper-container > .mapper-div > .mapper-value > span {
  margin: auto auto auto 15px;
  font-style: italic;
  max-width: 0px;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  white-space: nowrap;
}
.validation-error-headline {
  display: flex;
}
.validation-error-headline > h3 {
  margin: auto 15px auto 0;
}

.ticket-content {
  display: flex;
  margin: 10px 0;
}
.ticket-content > span {
  font-size: 15px;
  margin: auto 0;
}
.ticket-content > span:first-child {
  font-weight: bold;
  width: 200px;
}
.ticket-content > span:last-child {
  width: 200px;
}

.ticket-content > i {
  margin: auto 50px;
}

.ticket-header {
  display: flex;
}
.ticket-header > label {
  margin: auto 0;
  padding: 0;
  font-size: 18px;
  color: #000;
}
.ticket-header > input{
  margin: auto 10px auto 10px;
}
label[for="dataValidated"] {
  display: flex;
}
label[for="dataValidated"] > input {
  margin: auto 5px auto 0;
}
label[for="dataValidated"] > span {
  color: #000;
}
